<!DOCTYPE html>
<html lang="en/ru">
<head>
    <meta charset="UTF-8">
    <title>Задание1</title>
    <link rel="stylesheet" href="../style/app.less">
    <link rel="stylesheet" href="../style/app.css">
</head>
<body class="main">
        <header class="main__header menu">
            <ul class="menu__ul">
                <li class="menu__ul"><a class=mont-logo" href="#">
                    <img src="../inspect/Images/inspect/events_prototype/logo copy.png" height="32" width="115"/></a></li>
                <li class="menu__ul description">Описание</li>
                <li class="menu__ul programma">Программа</li>
                <li class="menu__ul location">Место проведения</li>
                <li class="menu__ul speakers">Докладчики</li>
                <li class="menu__ul video">Видео</li>
                <li class="menu__ul photo">Фото</li>
                <li class="menu__ul"><button class="btn-entrance__btn">
                    <span class="text-btn">Вход</span></button></li>
            </ul>
            
                <div class="lecture">Лекция</div>
                <div class="mainprogramm">Программа маркетинговой
                    поддержки партнеров ESET’2017</div>
                <div class="loctime">
                    <span class="loctime__loc">
                        <img class="loctime__icplace" src="../inspect/Images/inspect/events_prototype/ic_place.png"/>Москва, Лотте Плаза</span>
                    <span class="loctime__time">
                        <img  class="loctime__ictoday" src="../inspect/Images/inspect/events_prototype/ic_today.png"/>10 февраля, с 11:00</span>
                </div>
                <button class="register"><span class="register__text">Зарегистрироваться</span></button>
                <div class="socials">
                    <img class="socials__shape" src="../inspect/Images/inspect/events_prototype/Shape.png"/>
                    <img class="socials__bitmap" src="../inspect/Images/inspect/events_prototype/Bitmap.png"/>
                </div>
        </header>
        <footer class="main__footer">
            <div class="copyright">© 2016 MONT group of companies.
                Все права защищены. </div>
            <div class="adress">123557, Россия, Москва, ул. Пресненский Вал, 14 </div>
            <span class="map-adress"><img class="map-office" src="../inspect/Images/inspect/events_prototype/map copy 2.png"/>Центральный офис на карте</span>
            <span class="mail"><img class="mail__copy2" src="../inspect/Images/inspect/events_prototype/mail copy 2.png"/>mont@mont.com</span>
                <img class="socialmont__fmont" src="../inspect/Images/inspect/events_prototype/fb copy 2.png"/>
                <img class="socialmont__instmont" src="../inspect/Images/inspect/events_prototype/in copy 2.png"/>
                <img class="socialmont__imagmont" src="../inspect/Images/inspect/events_prototype/im copy 2.png"/>
                <img class="socialmont__vkmont" src="../inspect/Images/inspect/events_prototype/vk copy 2.png"/>
            <div class="tel-number">8 800 700 55 57</div>
            <div class="phone-for-free">Звонок по России бесплатный.</div>
        </footer>
</body>
</html>